<div class="profile-card">

  <img src="<%= @user.profile_image_uri(:original) %>" class="float--left mr profile-card__image">

  <h1 class="profile-card__heading">@<%= @user.screen_name %></h1>

  <p class="profile-card__meta">

    <%= @user.description %>

    <br>

    <%= link_to(@user.website) %>

  </p>

</div>




<%= erb(:"shared/tweets", locals: { tweets: @tweets }) %>
